/*
//  Oppgave 2
//  CSS
//
//  Created by Joakim Jorde on 30.08.2016.
//  Copyright © 2016 Jorde Industries. All rights reserved.
*/
body{
	background-color: #252525;
}

#conteiner{
	position: absolute;
	width: 90%;
	height: auto;
	margin-left:  5%;
	margin-top: 5%;
/*	background-color: #252525;*/
}

#header{
	position: relative;
	height: 15% auto;
	width: 90%;
	margin-left:  5%;
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	background-color: gray;
	border-radius: 8px;
}
#content{
	position: relative;
	float: left;
	max-height: 50%;
	width: 90%;
	margin-left:  5%;
/*	background-color: pink;*/

}
#footer{
	position: relative;
	height: 15% auto;
	width: 90%;
	margin-left:  5%;
	margin-top: 5%;
	margin-bottom: 5%;
	float: left;
	background-color: gray;
	border-radius: 8px;
}

#nav{
	position: relative;
	display: inline-block;
	height: 100% auto;
	width: 20%;
	float: left;

	background-color: red;
	border-radius: 8px;
}
#section{
	position: relative;
	display: inline-block;
	height: 100% auto;
	width: 56%;
	left: 2%;

/*	background-color: black;
	border-radius: 8px;*/
}
#aside{
	position: relative;
	display: inline-block;
	height: 100% auto;
	/*min-width: 100px;*/
	width: 20%;
	float: right;

	background-color: orange;
	border-radius: 8px;
}

/*Section Items*/

#sHeader{
	position: relative;
	display: block;
	float: left;
	height: 17% auto;
	width:100%;

	background-color: orange;
	border-radius: 8px;
}
#sArticle{
	position: relative;
	display: block;
	float: left;
	height: 60% auto;
	width:100%;
	margin-bottom: 3%;
	margin-top: 3%;

	background-color: orange;
	border-radius: 8px;
}
#sFooter{
	position: relative;
	display: block;
	float: left;
	height: 17% auto;
	width:100%;

	background-color: orange;
	border-radius: 8px;
}

h1{
	text-align: center;
}




/*
vw(på begge)

pdding-bottom Brukes som høyde (blir kvadratisk)*/
